<div custom-scroll class="container">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptate
  architecto ex amet praesentium, odit natus facilis veritatis optio
  perferendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
  accusamus recusandae enim, assumenda dolor error temporibus, iusto maxime quos
  dolores qui soluta, itaque corporis voluptatibus dignissimos praesentium
  reprehenderit aperiam exercitationem ipsum dolorum maiores voluptas excepturi!
  Quos voluptate, dolores atque odio aperiam minima cupiditate qui accusamus
  enim nihil earum eum illum. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Reprehenderit, eaque. Voluptatibus dolore ad nihil, nemo veritatis
  consequatur consectetur cupiditate eius ratione. Beatae libero animi omnis
  atque facere distinctio voluptatum tempore consequatur voluptate, dignissimos
  maxime natus repudiandae culpa veniam. Quo iste, dicta eum voluptas, cumque
  recusandae doloribus est aspernatur saepe blanditiis possimus! Debitis eveniet
  cupiditate voluptate, accusamus dolor sapiente, delectus maiores placeat
  accusantium aut possimus repudiandae dolores nulla odit excepturi corporis,
  ipsum quibusdam fugiat sint. Natus itaque odit, soluta illum vero quasi
  cupiditate esse ab, facilis sequi dolores id error, sit quisquam neque laborum
  et perferendis velit cum ullam mollitia nobis.
</div>
